<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #283673 !important;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="../img/logocopy.png" width="100" height="100" class="d-inline-block align-top" alt>
        </a>
        <button class="navbar-toggler togglerNoBorder" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-2 pt-1" id="navbarNavDropdown">
        </div>
    </div>
</nav>
<div class="container">
    <div  class="col-9" style="word-break: break-word;">
        <h1 class="fw-bolder mb-1">[[${board.board_Title}]]</h1>
    </div>
<div class="card mb-4" style="min-height: 300px;">
    <div class="card-body" th:utext="${board.board_Content}"></div>
</div>
<div th:if="${board.board_Writer.toString().equals(board_Writer)}" style="flex-direction: row-reverse">
    <button id="deleteBtn" class="btn btn-danger btn-sm float-right">글 삭제</button>
    <button id="updateBtn" class="btn btn-info btn-sm float-right" onclick="location.href='/board/modify?board_Id='+board_Id">글 수정</button>
</div><br>
<form id="form" th:action="@{/}" method="post"></form>
<h2></h2>
[[${session.nickName}]]: <input type="text" name="comment" style="width:680px;"><br>
    <button id="wrtBtn" type="button">댓글작성</button>
    <button id="modBtn" type="button">댓글수정</button>
<div id="commentList"></div>
<div id="replyForm" style="display:none">
    <input type="text" name="replyComment">
    <button id="wrtRepBtn" type="button">등록</button>
</div>
</div>
    <script th:inline="javascript">

        let board_Id=[[${board.board_Id}]];

        let toHtml = function (comments){
            let tmp = "<ul>";

            comments.forEach(function (comment){
                const reg_Date = new Date(comment.reg_Date);

                tmp += '<li data-comment_Id='+comment.comment_Id
                tmp += ' data-parentComment_Id='+comment.parentComment_Id
                tmp += ' data-board_Id='+comment.board_Id + '>'
                if((comment.comment_Id!=comment.parentComment_Id) && (comment.parentComment_Id>0))
                    tmp += 'ㄴ'
                tmp += ' <span class="comment_Writer">' + comment.comment_Writer + '</span>'
                tmp += ' : <span class="comment_Content">' + comment.comment_Content + '</span><br>'
                tmp +=  reg_Date.toLocaleDateString()
                tmp += ' <a href="#" class="delBtn">삭제</a>'
                tmp += ' <a href="#" class="modBtn">수정</a>'
                tmp += '</li>'
            })
            return tmp + "</ul>";
        }

        let showList = function (board_Id){
            $.ajax({
                type:'GET',
                url:'/comments?board_Id='+board_Id,
                success:function (result){
                    $("#commentList").html(toHtml(result));
                },
                error:function (){alert("error")}
            });
        };

        $(document).ready(function (){

            showList(board_Id);
            let login = [[${session.nickName}]];
            $("#modBtn").click(function (){
                if(login==null){
                    alert("로그인 후 이용 가능합니다");
                    return;
                }

                let comment_Id = $(this).attr("data-comment_Id");
                let comment_Content = $("input[name=comment]").val();

                if(comment_Content.trim()==''){
                    alert("댓글을 입력해주세요.");
                    $("input[name=comment]").focus()
                    return;
                }

                $.ajax({
                    type:'PATCH',
                    url:'/comments/'+comment_Id,
                    headers:{"content-type":"application/json"},
                    data:JSON.stringify({comment_Id:comment_Id, comment_Content:comment_Content}),
                    success:function (result){
                        alert(result);
                        showList(board_Id);
                    },
                    error:function (){alert("error")}
                })
                $("input[name=comment]").val('');
            })

            $("#wrtRepBtn").click(function (){
                if(login==null){
                    alert("로그인 후 이용 가능합니다");
                    return;
                }

                let comment_Content = $("input[name=replyComment]").val();
                let parentComment_Id = $("#replyForm").parent().attr("data-comment_Id");

                if(comment_Content.trim()==''){
                    alert("댓글을 입력해주세요.");
                    $("input[name=replyComment]").focus()
                    return;
                }

                $.ajax({
                    type:'POST',
                    url:'/comments?board_Id='+board_Id,
                    headers:{"content-type":"application/json"},
                    data:JSON.stringify({parentComment_Id:parentComment_Id, board_Id:board_Id, comment_Content:comment_Content}),
                    success:function (result){
                        alert(result);
                        showList(board_Id);
                    },
                    error:function (){alert("error")}
                })
                $("#replyForm").css("display", "none")
                $("input[name=replyComment]").val('')
                $("#replyForm").appendTo("body");
            })

            $("#wrtBtn").click(function (){
                if(login==null){
                    alert("로그인 후 이용 가능합니다");
                    return;
                }

                let comment_Content = $("input[name=comment]").val();

                if(comment_Content.trim()==''){
                    alert("댓글을 입력해주세요.");
                    $("input[name=comment]").focus()
                    return;
                }

                $.ajax({
                    type:'POST',
                    url:'/comments?board_Id='+board_Id,
                    headers:{"content-type":"application/json"},
                    data:JSON.stringify({board_Id:board_Id, comment_Content:comment_Content}),
                    success:function (result){
                        alert(result);
                        showList(board_Id);
                    },
                    error:function (){alert("error")}
                })
                $("input[name=comment]").val('');
            })

            $("#commentList").on("click", ".modBtn",function () {
                if(login==null){
                    alert("로그인 후 이용 가능합니다");
                    return;
                }

                let comment_Id = $(this).parent().attr("data-comment_Id");
                let comment_Content = $("span.comment_Content", $(this).parent()).text();

                $("input[name=comment]").val(comment_Content);
                $("#modBtn").attr("data-comment_Id", comment_Id);
            });

            $("#commentList").on("click", ".replyBtn",function () {
                if(login==null){
                    alert("로그인 후 이용 가능합니다");
                    return;
                }

                $("#replyForm").appendTo($(this).parent());
                $("#replyForm").css("display", "block");
            });
            $("#commentList").on("click", ".delBtn",function (){
                if(login==null){
                    alert("로그인 후 이용 가능합니다");
                    return;
                }

                let comment_Id = $(this).parent().attr("data-comment_Id");
                let board_Id = $(this).parent().attr("data-board_Id");
                $.ajax({
                    type:'DELETE',
                    url:'/comments/'+comment_Id+'?board_Id='+board_Id,
                    success:function (result){
                        alert(result)
                        showList(board_Id);
                    },
                    error:function (){alert("error")}
                });
            });

            let form= $("#form");
            let board_Title = [[${board.board_Title}]];
            let board_SubTitle = [[${board.board_SubTitle}]];
            $(document).on('click', '#deleteBtn', function (e){
                $('#form').attr("action", "remove");
                form.append("<input type='hidden' name='board_Id' value="+board_Id+">");
                form.append("<input type='hidden' name='_method' value='post'>");
                form.submit();
            })
        })
</script>
</body>
</html>